@use "../../../styles/vars";

.container {
  max-width: 46rem;
  min-height: 100vh;
  margin: 0 6.4vw;
  padding: 9.6vw 0 2rem;
  @media (min-width: vars.$breakPointSM) {
    margin: 0 12.5vw;
    padding-top: 18.75vw;
  }
  @media (min-width: vars.$breakPointMD) {
    padding-top: 9rem;
  }
  @media (min-width: vars.$breakPointXM) {
    margin: 0 auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;
  .title {
    font-size: 1.625rem;
  }
  .toggleTheme {
    padding: 0;
    display: inline-flex;
    align-items: center;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color-secondary);
    .text {
      margin-right: 1rem;
      font-weight: bold;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    &:hover {
      color: var(--btn-theme-color-hover);
    }
  }
}

.main {
  width: 100%;
}
